header {

    &.mapa {
        position: absolute;
        top: 0;
        z-index: 1;
        background-color: #ffffff;
        width: 100%;
    
        nav {
            padding: 15px 30px;
            img {
                width: 60px !important;
            }
        }
    }
}

main {

    &.mapa {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;

        .leaflet-container {
            height: 100%;
            width: 100vw;
        }
    }
}
