header nav {
  padding: 30px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
}

header nav ul li {
  display: block;
  float: left;
}

header nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0 0 4px;
  transition: ease 0.25s color;
}

header nav ul li a:hover {
  color: #333;
}
