header {
  nav {
    padding: 30px;
    min-width: 1024px;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      list-style: none;
      align-items: center;

      li {
        a {
          text-decoration: none;
          color: var(--text-color);
          padding: 0 0 4px;
          transition: ease 0.25s color;
          font-family: 'Poppins', sans-serif;
          text-transform: uppercase;
          font-size: calc(10px + 1vmin);

          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
