main {
  img {
    &.bg2-coletor {
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      bottom: 200px;
      right: 0;
      width: 200px;
    }

    &.bg3-coletor {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      top: 80px;
      left: 0;
      width: 150px;
    }
  }

  section {
    padding-left: calc(75px + 1vmin);
    padding-right: calc(75px + 1vmin);
    height: 1vh;
    min-width: 1024px;
    background-attachment: fixed;
    height: 650px;

    &.coletor {
      position: relative;
      top: 50px;
      z-index: 99;
      overflow: hidden;
      display: flex;

      div {
        justify-content: space-between;
        width: 50%;

        &.title {
          h1 {
            position: relative;
            display: block;
            color: var(--primary-color);
            font-family: 'Bebas Neue', cursive;
            font-weight: bold;
            font-size: calc(75px + 1vmin);
            line-height: 100px;

            strong {
              display: block;
              color: var(--primary-color);
              font-family: 'Bebas Neue', cursive;
              font-weight: bold;
              font-size: calc(125px + 1vmin);
              margin-top: 0;
            }
          }

          strong {
            position: relative;
            display: block;
            font-family: 'Poppins', sans-serif;
            font-size: calc(12px + 1vmin);
            text-transform: uppercase;
            margin-top: -15px;
          }
        }

        &.form-coletor {
          position: relative;
          top: 50px;
          z-index: 99;
          overflow: hidden;
          display: flex;
          height: auto;

          form {
            display: block;
            float: left;
            padding-left: 20px;
            width: 75%;
            position: relative;

            .hidden {
              position: absolute;
              left: -5000px;
            }

            label {
              font-family: 'Poppins', sans-serif;
              display: block;
              float: left;
              clear: both;
            }

            input {
              display: block;
              float: left;
              clear: both;
              width: 100%;
              margin-bottom: 20px;
              border: solid 1px;
              border-color: var(--text-color);
              color: var(--text-color);
              padding: 5px;
              border-radius: 10px;

              &.button {
                float: right;
                width: auto;
                background-color: #ffffff;
                border-color: var(--primary-color);
                color: var(--primary-color);
                font-family: 'Poppins', sans-serif;
                text-transform: uppercase;
                border: solid 1px;
                padding: 15px 35px;
                border-radius: 10px;
                font-size: calc(12px + 1vmin);
                margin-top: 40px;
                cursor: pointer;
              }
            }

            textarea {
              display: block;
              float: left;
              clear: both;
              width: 100%;
              border: solid 1px;
              border-color: var(--text-color);
              color: var(--text-color);
              padding: 5px;
              border-radius: 10px;
            }

            #mce-responses {
              display: block;
              float: left;
              clear: both;
              width: 100%;

              #mce-error-response,
              #mce-success-response {
                display: none;
                text-align: center;
                padding-top: 40px;

                a {
                  text-decoration: underline;
                  color: var(--text-color);
                }
              }
            }
          }
        }
      }
    }
  }
}
